.card {
    max-width: 1110px;

}

.hidden {
    display: none;
}

i {
    margin-right: 10px;
}

.jumbotron {
    background-color: #20315a;
    color: white;
    max-width: 1110px;
    text-align: center;
}

hr {
    max-width: 1110px;
}

form {
    margin: 15px;
}

.card-header {
    font-weight: bold;
}